{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/react"
  ],
  "rules": {
    "react/display-name": "off",
    "import/prefer-default-export": "off"
  }
}
